<h1>
  Loan Payment
</h1>

<dd>
  A <%=@years %> year loan of <%= number_to_currency(@principal, precision: 0) %> with an annual interest rate of <%= number_with_precision(@apr, :precision => 2, :delimiter => ',') %>% requires a monthly payment of <%= number_to_currency(@monthly_payment_output, precision: 2)%>


</dd>
