<!-- <div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Word Count Results</h3>
</div>
<div class="panel-body">
<dl class="dl-horizontal">
<dt>
Text
</dt>
<dd class="text">
<%= simple_format(@text) %>
</dd>

<dt>
Word Count
</dt> -->


<h1>
  Flexible Square
</h1>

<dd class="word_count">
  The square of <%= @input %> is <%= @square %>
</dd>
<!-- <p>
The square of #{ :number} is #{ @square}.
</p> -->
